
@{
    ViewBag.Title = "IndexEmpleador";
    Layout = "~/Views/FrontEnd/MasterPage/_layoutUsuarios.cshtml";
}

<div class="w3layouts-breadcrumbs text-center">
    <div class="container">
        <span class="agile-breadcrumbs"><a href="index.html"><i class="fa fa-home home_1"></i></a> / <span>Empleador</span></span>
    </div>
</div>

<div class="agile-pay w3layouts-content">
    <div class="container">
        <h2>Index Empleador</h2>
    </div>
</div>