@using System.Data;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/BackEnd/MasterPage/_layoutBackEnd.cshtml";
}

<h2>Index</h2>

<label>Ejemplo de página maestra</label>

<table class="table">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Estatus</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow row in Model.Rows)
        {
            <tr id="fila_@row["Codigo"]">
                <td>@row["Codigo"]</td>
                <td>@row["Estatus"]</td>
            </tr>
        }
    </tbody>
</table>