@using System.Data;

@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/FrontEnd/MasterPage/_layoutUsuarios.cshtml";
}

<h3 class="w3-head">Prueba</h3>

<table class="table">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Estatus</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow row in Model.Rows)
        {
            <tr id="fila_@row["Codigo"]">
                <td>@row["Codigo"]</td>
                <td>@row["Tipo"]</td>
            </tr>
        }
    </tbody>
</table>