@using BO;
@model UsuarioBO

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/BackEnd/MasterPage/_layoutBackEnd.cshtml";
}
<h2>Agregar Usuarios</h2>
<div class="container-fluid">
    <div class="container card">
@using (Ajax.BeginForm("AgregarUsuario", "AgregarEstudiante", new AjaxOptions() { HttpMethod = "POST" }))
{
    @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-lg-3">
                <label class="control-label">
                    ID:
                </label>
                <div>
                    <input type="text" class="form-control" name="ID" placeholder="ID" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <label  class="control-label">
                    Nombre:
                </label>
                <div>
                    <input type="text" class="form-control" name="Nombre" placeholder="Nombre" required="required" />
                </div>
            </div>
            <div class="col-lg-3">
                <label class="control-label">
                    Apellidos:
                </label>
                <div>
                    <input type="text" class="form-control" name="Apellidos" placeholder="Apellidos" required="required" />
                </div>
            </div>
            <div class="col-lg-3">
                <label class="control-label">
                    Fecha de Nacimiento:
                </label>
                <div>
                    <input type="date" name="cumpleanios" step="1" min="1960-01-01" max="2013-12-31" class="form-control" required="required">
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                <div class="col-lg-3">
                    <label class="control-label">
                        Email:
                    </label>
                    <div>
                        <input type="email" class="form-control" name="Email" placeholder="Email" required="required" />
                    </div>
                </div>
                <div class="col-lg-3">
                    <label class="control-label">
                        Contraseña:
                    </label>
                    <div>
                        <input type="text" class="form-control" name="Contraseña" placeholder="Contraseña" required="required" />
                    </div>
                </div>
                <div class="col-lg-3">
                    <label class="control-label">
                        Imagen:
                    </label>
                    <div>
                        <input type="file" multiple class="form-control" name="imagen">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                <div class="col-lg-3">
                    <label class="control-label">
                        Estado:
                    </label>
                    <div>
                        <select name="Tipo" class="form-control">
                            <option value="1">Administrador</option>
                            <option value="2">Empleador</option>
                            <option value="3">Estudiante</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3">
                    <label class="control-label">
                        Dirreccion:
                    </label>
                    <div>
                        <input type="text" class="form-control" name="dirreccion" placeholder="Contraseña" required="required" />
                    </div>
                </div>
                <div class="col-lg-3">
                    <label class="control-label">
                        Telefono:
                    </label>
                    <div>
                        <input type="tel" pattern="[0-9]{10}" class="form-control" name="Telefono" placeholder="Telefono" required="required" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div >
               
            </div>
        </div>
        <div class="row">
            <div>
                <div class="col-lg-3">
                    <div>
                        <button type="submit" class="btn btn-success" name="agregar" value="1" onclick="alerta()">AGREGAR</button>
                       
                    </div>
                </div>
                <div class="col-lg-3">
                    <div>
                        <button type="submit" class="btn btn-info" name="actualizar" value="2">ACTUALIZAR</button>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div>
                        <button type="submit" class="btn btn-danger" name="eliminar" value="3">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
}
        @ViewBag.Script
    </div>
</div>

