@using System.Data;

@{
    Layout = null;
}

<div class="row">
    @foreach (DataRow row in Model.Rows)
    {
        <div class="col-md-4 movie-preview">
            <img src="~/Recursos/FontEnd/images/@row["Imagen"]" class="img-responsive zoom-img" alt="Source not found" />
            <div class="m-movie-title">
                <a class="m-movie-link" href="select-show.html">@row["Titulo"]</a>
                <div class="clearfix"></div>
                <div class="m-r-date">
                    <p><i class="fa fa-calendar-o"></i>Date here</p>
                </div>
                <div class="m-r-like">
                    <a href="select-show.html">Ver más</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    }
</div>