





<div class="modal" id="ModalFin" role="dialog">
    <div class="modal-content">
        <div class="modal-header"> Califica</div>
        <div class="modal-body">
            <hr />
            Calificar: <div id="Estrellas">-----</div>
        </div>
    </div>
</div>