@using BO
@model List<ClasificacionTareaBO>
@*@model ClasificacionTareaBO*@

@*<div class="col-lg-3" >
    <div class="form-group" >
        <label>Tipo</label>
        @Html.DropDownListFor(x => x.Codigo,new SelectList(Model.TipoTarea, "Codigo", "Clasificacion"), new { @class = "form-control"})
    </div>
</div>*@



<select class="form-control">
    @foreach(var item in Model)
    {
        <option value="@item.Codigo">@item.Clasificacion</option>
    }
</select>
