@using System.Data;
@model DataTable

@{
    Layout = null;
}

<div class="creditly-card-form agileinfo_form">
    <section class="creditly-wrapper wthree, w3_agileits_wrapper">
        <div class="credit-card-wrapper">
            <div class="first-row form-group">

                @foreach (DataRow row in Model.Rows)
                {
                    <div class="col-md-12 movie-preview">
                        <div class="m-movie-title">
                            <p class="m-movie-link" style="color:black;">@row["Titulo"]</p>
                            <div class="clearfix"></div>
                            <div class="m-r-date">
                                <p>@row["Descripcion"]</p>
                                <p>@row["Empleador"]</p>
                                <a href="select-show.html">book now</a>
                            </div>
                            <div class="m-r-like">
                                <!--Cambiar a actionLink-->
                                <a href="#">Ver más</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</div>
<!-- credit-card -->
<script type="text/javascript" src="~/Recursos/FontEnd/js/creditly.js"></script>
<link rel="stylesheet" href="~/Recursos/FontEnd/css/creditly.css" type="text/css" media="all" />

<script type="text/javascript">
			$(function() {
			  var creditly = Creditly.initialize(
				  '.creditly-wrapper .expiration-month-and-year',
				  '.creditly-wrapper .credit-card-number',
				  '.creditly-wrapper .security-code',
				  '.creditly-wrapper .card-type');

			  $(".creditly-card-form .submit").click(function(e) {
				e.preventDefault();
				var output = creditly.validate();
				if (output) {
				  // Your validated credit card output
				  console.log(output);
				}
			  });
			});
</script>
<!-- //credit-card -->
